---
// src/pages/index.astro
import MainLayout from "../layouts/MainLayout.astro";
import YouTube from "../components/YouTube.astro";
---

<MainLayout
  title="Intentional Tech | Handheld Tech for Casual Gamers"
  description="Intentional Tech makes mindful videos on portable devices, from iPads to handheld gaming PCs and everything in between."
/>
<center>
  <h1>Intentional Tech: The Story So Far...</h1>
  <YouTube
    id="LbpiB0vHA08"
    title="The Handhelds That Got Me Through The Year!"
    caption="Video: The Handhelds That Got Me Through The Year! • Intentional Tech • Uploaded Dec 26, 2025"
  />
  <p>
    <a href="https://youtube.com/@IntentionalTech" target="_blank">
      Inentional Tech
    </a> is a YouTube channel where I mostly review handheld tech devices. But it's
    also an attempt at sharing stories from my life through the medium of technology,
    which I hope at least some people can relate to.
  </p>
  <p>
    The journey began during the Covid pandemic, when I was simply trying to
    reclaim some of the agency and creativity that modern times had beaten out
    of me. Since then, it's followed me through huge changes in both the tech
    landscape and my life, not least the experience of becoming a father four
    years ago.
  </p>
  <p>
    Life is messy. It can't be nailed down to a 'niche'. So for a long time, I
    wasn't sure what to even cover on Intentional Tech. That was until recently,
    when I began to realise there was a whole host of 'casual' technology fans
    like me, many of whom also parents, who are in equal measure exhausted by
    the hyperbole of modern tech media and their own relentless daily grind.
  </p>
  <p>
    I hope I can offer a bit of comradery on this small corner of the internet.
    I believe that's a nice goal to work towards - but let's enjoy some cool new
    gadgets while we're at it.
  </p>
  <p>Chris</p>
</center>
