---
// src/layouts/MainLayout.astro
const { title = "Intentional Tech" } = Astro.props;
const { description = "Welcome to Intentional Tech" } = Astro.props;
import "../styles/global.css";
import IntentionalNav from "../components/IntentionalNav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/public/it-logo.svg" />
    <title>{title}</title>
  </head>
  <body>
    <IntentionalNav />
    <slot />
  </body>
</html>
